.logo-container.header {
  height: 68px;
  width: 210px;
  > svg path {
    fill: #ff6060;
  }
}

.logo-container.footer {
  height: 40px;
  width: 122px;
  > svg path {
    fill: white;
  }
}
@media (max-width: 768px) {
  .logo-container.header {
    height: 46px;
    width: 145px;
  }
}
