@import '../../../styles/_variables.scss';
@import '../../../styles/_mixins.scss';

.logo {
  &-container {
    &.header {
      height: $header-height;
      width: $header-width;

      > svg path {
        fill: $primary-color;
      }

      @include mobile {
        height: $mobile-header-height;
        width: $mobile-header-width;
      }
    }

    &.footer {
      height: $footer-logo-height;
      width: $footer-logo-width;

      > svg path {
        fill: $white;
      }
    }
  }
}
