.square {
  background-color: #ff6060;
  height: 340px;
  width: 340px;
  display: flex;
  align-items: end;
  border-radius: 10px;
}

.titles {
  font-family: Montserrat;
  margin: 20px;
  color: white;
  font-size: 18px;
  font-weight: 700;
  line-height: 25.67px;
  text-decoration: none;
}

@media (max-width: 768px) {
  .square {
    height: 255px;
    height: 335px;
  }
  .titles {
    text-align: left;
    width: 295px;
    height: 52px;
  }
}
