@import '../../../../styles/_variables.scss';
@import '../../../../styles/_mixins.scss';

.Stylefooter {
  @include flex-center;
  background-color: $black;
  width: 100%;
  flex-direction: column;
  padding: 66px 0 29px;
}

.stylewords {
  color: $white;
  font-size: $font-size-large;
  font-weight: $font-weight-medium;
  line-height: 34.22px;
  text-align: center;

  @include mobile {
    line-height: 17.11px;
    font-size: $font-size-small;
    width: 130px;
  }
}
