@import '_breakpoints.scss';

// Flexbox
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// Media queries
@mixin mobile {
  @media screen and (max-width: $breakpoint-mobile) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: $breakpoint-mobile) and (max-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $breakpoint-tablet) {
    @content;
  }
}

// Container
@mixin container {
  max-width: $container-width;
  margin: 0 auto;
  padding: 0 20px;
}
