@import '../../../styles/_variables.scss';
@import '../../../styles/_mixins.scss';

.StyleHeader {
  margin-top: 45px;
  @include flex-between;
  width: 90%;

  @include mobile {
    margin-top: 20px;
    align-items: center;
  }

  @include tablet {
    margin-top: 30px;
    width: 95%;
  }

  @include desktop {
    width: $container-width;
    max-width: 90%;
  }
}
