.StyleLayout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.page-content {
  width: auto;
  height: auto;
  margin: 50px 00px 50px 00px;
}
