/* Pour les grands écrans (desktop) */
.no-decoration {
  text-decoration: none;
}
.wrap {
  justify-content: center;
  gap: 60px;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: auto;
  padding: 50px;
  box-sizing: border-box;
  text-decoration: none;
}

/* Pour les tablettes (1024px et moins) */
@media (max-width: 1024px) {
  .wrap {
    display: flex;
    max-width: 90%;
    padding: 22px;
    height: auto;
  }
}

/* Pour les smartphones (768px et moins) */
@media (max-width: 768px) {
  .wrap {
    flex-direction: column;
    gap: 20px;
  }
}
