.host {
  &-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
  }

  &-name {
    font-size: 18px;
    font-weight: 500;
    line-height: 25.67px;
    text-align: right;
    color: #ff6060;
  }

  &-picture {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    object-fit: cover;
  }
}
