@import '../../../styles/_variables.scss';
@import '../../../styles/_mixins.scss';
@import '../../../styles/_breakpoints.scss';

.host {
  &-container {
    @include flex-center;
    flex-direction: row;
    gap: 10px;
    &_split {
      flex-direction: column;
      padding: 0%;
      margin: 0%;
    }
  }

  &-name {
    margin: 0%;
    font-family: $font-montserrat;
    font-size: 12px;
    font-weight: $font-weight-medium;
    line-height: 17px;
    text-align: right;
    color: $primary-color;

    @include tablet {
      font-size: 15px;
      line-height: 20px;
    }

    @include desktop {
      font-size: 18px;
      line-height: 25.67px;
    }
  }

  &-picture {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;

    @include tablet {
      width: 48px;
      height: 48px;
    }

    @include desktop {
      width: 64px;
      height: 64px;
    }
  }
}
