.custom-navlink {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 34.22px;
  text-decoration: none;
  color: black;

  &.active {
    text-decoration: underline;
  }
}
