@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.custom-navlink {
  font-family: $font-montserrat;
  font-size: 24px;
  font-weight: 500;
  line-height: 34.22px;
  color: $text-color;
  text-decoration: white;
  &.active {
    text-decoration: underline;
  }

  @include mobile {
    font-size: 12px;
    line-height: 17.11px;
  }
}
