@import '../../../styles/breakpoints';
@import '../../../styles/_mixins.scss';
@import '../../../styles/_variables.scss';

.styleRh {
  border-radius: 25px;
  height: 223px;
  position: relative;
  width: 100%;
  max-width: $container-width;
  overflow: hidden;
  background-color: rgba($black, 0.5);
  box-shadow: 0px 4px 4px 0px rgba($black, 0.25);
  margin: 0 auto;

  &.home {
    background-color: rgba($black, 0.5);
  }

  &.Apropos {
    background-color: rgba($black, 0.3);
  }

  .background-img {
    @include image-cover;
    position: absolute;
    z-index: -1;
  }

  .stylebghword {
    &.active {
      font-family: $font-montserrat;
      @include flex-center;
      flex-wrap: wrap-reverse;
      font-size: 48px;
      font-weight: 700;
      line-height: 1.4;
      position: relative;
      z-index: 1;
      color: $white;
      top: 50px;
    }

    &.none {
      display: none;
    }
  }

  @media (max-width: $breakpoint-desktop) {
    border-radius: 10px;
    height: 111px;
    max-width: 90%;
    margin: 20px auto;

    .stylebghword.active {
      justify-content: flex-start;
      top: 0;
    }
  }

  @include mobile {
    max-width: 80%;

    .stylebghword.active {
      font-size: 24px;
      font-weight: 700;
      line-height: 24px;
      height: 48px;
      width: 228px;
      padding: 16px;
      text-align: left;
    }
  }

  @media (max-width: 480px) {
    max-width: 335px;
  }
}
