.container-apropos {
  height: max-content;
  display: flex;
  align-items: center;
  flex-direction: column;
  @media (max-width: 768px) {
  }
}
.alignement {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 33px;
  padding-top: 50px;
  width: 71%;
}
@media (max-width: 768px) {
  .alignement {
    padding: 0%;
    gap: 19px;
    width: 100%;
  }
}
