@import '../styles/_variables.scss';
@import '../styles/_mixins.scss';

.fiche-logement {
  &__content {
    @include flex-between;
    margin-top: 30px;
    width: 100%;

    @include mobile {
      flex-direction: column;
      gap: 15px;
      align-items: flex-start;
    }
  }

  &__info {
    @include flex-column;
    align-items: flex-start;
  }

  &__host-rating {
    @include flex-column;
    align-items: end;
    @include mobile {
      @include flex-between;
      flex-direction: row-reverse;
      width: 100%;
    }
  }

  &__details {
    @include flex-between;
    width: 100%;
    gap: 76px;
    margin-top: 24px;
    align-items: normal;

    @include mobile {
      flex-direction: column;
      gap: 20px;
    }
  }

  &__title {
    color: $primary-color;
    margin: 0;
    font-family: $font-montserrat;
    font-size: $font-size-large;
    font-weight: $font-weight-medium;
    line-height: 25.67px;
    text-align: left;

    @include mobile {
      font-size: $font-size-medium;
    }
  }

  &__location {
    margin: 0;
    font-family: $font-montserrat;
    font-size: $font-size-medium;
    font-weight: $font-weight-medium;
    line-height: 25.67px;
    text-align: left;

    @include mobile {
      font-size: 14px;
      line-height: 19.96px;
    }
  }
}
