@import './styles/_variables.scss';
@import './styles/_mixins.scss';
@import './styles/_breakpoints.scss';
body {
  margin: 0%;
  height: fit-content;
}
html {
  height: auto;
}

#root {
  height: auto;
}
canvas {
  height: auto;
  aspect-ratio: 375 / auto;
}
