@import '../../../styles/_variables.scss';
@import '../../../styles/_mixins.scss';

.StyleNav {
  text-decoration: none;
  @include flex-center;
  gap: 57px;

  @include mobile {
    gap: 26px;
  }

  @include tablet {
    gap: 40px;
  }
}
